﻿@model IEnumerable<opdracht04.Models.Todo>

    @{
    ViewData["Title"] = "listTodos";
    }

    <h2>listTodos</h2>
    <div class="container">
        <div class="row">
            <div class="col-12">
                Category: <input type="text" id="category" />
                Title: <input type="text" id="title" />
                Status: <select id="status" onchange="changeValue()">
                            <option value="low" class="started">low</option>
                            <option value="medium" class="inProgress">Medium</option>
                            <option value="high" class="done" >High</option>
                        </select>
                User: <input type="text" id="user" />
                <input type="button" id="sendButton" value="Add Todo" />
            </div>
        </div>
    </div>
    <table class="table" id="listTable">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    Status
                </th>
                <th>
                    User
                </th>
                <th>
                    Date / Time
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeNow)
                </td>
                <td>
                    <input type="button" value="Delete" onclick="@("deleteTodo('"+item.ObjId+"', '"+item.Id+"')")" />
                    @*@Html.ActionLink("Edit", "Edit", new { /*id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", "home", new { id=item.ObjId }, null)*@
                </td>
            </tr>
}
        </tbody>
    </table>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/todo.js"></script>
